* {
    box-sizing: border-box;
}

#content{
    display: flex;
    justify-content: center;
    flex-direction: column;

   
}

#canvasBox {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    border: 2px solid black;
    width: 324px;
    height: 324px;
    margin: 0 auto;
}

.pixelClass {
    width: 20px;
    height: 20px;
    background-color: white;
    margin: 0;
    padding: 0;
}

#canvasSizeButton {
    margin: 10px auto;
}